<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Wefluens Connect uses the microphone so you can send voice messages.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Wefluens Connect saves photos and videos you choose to your photo library.</string>
	<key>NSCameraUsageDescription</key>
	<string>Wefluens Connect uses the camera to scan QR codes so you can add friends.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Wefluens Connect uses your location to fill in your profile location.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>app.rork.4ovyj4xb0g1gbyx6qmnf9</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wefluens</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
